.mapEncombrants {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: rgba(178, 88, 74, 0.80);    
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);    
    padding: 1rem 0 0rem 0;
    margin: 1rem;
    line-height: 1rem;
}

.infoDecheterie {
    flex-direction: column;
    text-align: center;
    padding-left: 1rem;
}
